{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "Published on %s %d, %d" (.Date.Month) (.Date.Day) (.Date.Year))) }}
{{- end }}

{{- /* Only show "Updated on" if lastmod is different from date */ -}}
{{- if and (not .Lastmod.IsZero) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) -}}
{{- $scratch.Add "meta" (slice (printf "Updated on %s %d, %d" (.Lastmod.Month) (.Lastmod.Day) (.Lastmod.Year))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "%d min read" .ReadingTime)) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $wordCount := .WordCount }}
{{- $scratch.Add "meta" (slice (printf "%d words" $wordCount)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}

